* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f1de;
}

h1 {
  margin: 32px 0;
  color: #3d405b;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

.contact-form-wrapper {
  background-color: rgba(33,37,41);
  margin-top: 100px;
  padding: 10px;
}

.title {
  color: rgba(108,117,125);
  font-size: 48px;
}

.submit-button {
  background-color: #0dcaf0;
  padding: 10px;
}

#tag {
  margin: 10px;
}

.card {
  margin-top: 20px;
}

.project-img {
  height: 300px;
  width: fit-content;
}