* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #f4f1de;
}

h1 {
  margin: 32px 0;
  color: #3d405b;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

.contact-form-wrapper {
  background-color: rgba(33,37,41);
  margin: 10px;
  padding: 100px;
}

.title {
  color: rgba(108,117,125);
  font-size: 48px;
}

.submit-button {
  background-color: #0dcaf0;
  padding: 10px;
}
